.input {
    width: 28rem;
    height: 10rem;
    border: 2px solid #dee4c5;
    border-radius: 10px;
    background-color: #581717;
    padding: 10px;
    color: #dee4c5;
}

.input:hover {
    transform: scale(102%);
    transition: all 0.3s ease-in;
}

.input:focus {
    border: 2px solid #581717;
    outline: none;
}

.input::placeholder {
    color: #dee4c5;
    font-size: 15px;
}