.container {   
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

.inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.button {
  font-size: 20px;
  text-align: center;
}

.button button{
  cursor: pointer;
  width: 450px;
  height: 50px;
  border: 1px solid rgb(10,6,89);
  border-radius: 10px;
  background: rgb(10,6,89);
  background: linear-gradient(90deg, rgb(15, 10, 107) 0%, rgba(21,21,147,1) 35%, rgba(55,55,182,1) 57%, rgba(0,212,255,1) 100%);
  color: rgb(255, 255, 255);
}

.button button:hover{
  transform: scale(101%);
  transition: all 0.3s ease-in;
}

.text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  font-size: 2rem; 
}

